@import "./base.css";

:root {
  --app-container-width: 520px;
  --top-controls-height: 50px;
  --left-controls-width: 65px;
  --right-controls-width: 65px;
  --bottom-controls-height: 50px;
}

button {
  padding: 6px 10px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #5e5f60;
  border-radius: 12px;

  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  position: relative;
  width: var(--app-container-width);
}

.app-container::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.top-controls {
  position: relative;
  width: var(--app-container-width);
  height: var(--top-controls-height);
  left: var(--left-controls-width);
  display: flex;
  align-items: center;
}

.top-controls button {
  margin-left: 15px;
}

.top-controls button.selected {
  background-color: #12c9ff;
  box-shadow: 0 2px #1183ca;
}

.left-controls,
.right-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--left-controls-width);
}

.left-controls {
  float: left;
  border: 1px solid #5e5f6023;
  border-radius: 6px;
  background-color: #f9f9f9;
}
.left-controls button {
  width: 40px;
  margin-top: 1rem;
}

.right-controls {
  float: right;
}

.right-controls button {
  margin-left: 10px;
  margin-bottom: 15px;
}

#canvas-container {
  float: left;
  position: relative;
  left: 4px;
  width: 384px;
  height: 384px;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-controls {
  position: absolute;
  bottom: calc(-10px - var(--bottom-controls-height));
  right: var(--right-controls-width);
  height: var(--bottom-controls-height);
  display: flex;
}

.bottom-controls button {
  height: 40px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
