@import "./base.css";

:root {
  --app-container-width: 520px;
  --top-controls-height: 50px;
  --left-controls-width: 65px;
  --right-controls-width: 65px;
  --bottom-controls-height: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  position: relative;
  width: var(--app-container-width);
}

.app-container::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.top-controls {
  width: var(--app-container-width);
  height: var(--top-controls-height);
  border: 1px solid red;
}

.left-controls,
.right-controls {
  display: flex;
  flex-direction: column;
  width: var(--left-controls-width);
  border: 1px solid red;
}

.left-controls {
  float: left;
}

.right-controls {
  float: right;
}

#canvas-container {
  float: left;
  position: relative;
  width: 384px;
  height: 384px;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-controls {
  position: absolute;
  bottom: calc(0px - var(--bottom-controls-height));
  right: var(--right-controls-width);
  height: var(--bottom-controls-height);
  display: flex;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
